#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    border-bottom-left-radius: 8px;
    background: linear-gradient(to bottom, rgb(73, 88, 114), rgb(46, 59, 80));
    z-index: 9;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    overflow-y: scroll;
}

#NBblank {
    position: relative;
    height: 60px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#navbar #rowDivs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: max-content;
    width: 100%;
    margin: 0%;
    padding: 0;
}

#navbar .rowDiv {
    height: max-content;
    width: 96%;
    margin: 2%;
    padding: 0;
    background: linear-gradient(to bottom, rgba(73, 88, 114, 0), rgba(73, 88, 114, 0.34), rgba(46, 59, 80, 1));
    border-radius: 8px;
    /* transition: ease-in-out 0.25s; */
}

#navbar .rowDiv:active {
    background: linear-gradient(to bottom, rgba(95, 127, 196, 1), rgba(95, 127, 196, 0.34), rgba(46, 59, 80, 1));
}

#navbar .rowDiv a {
    width: max-content;
    max-width: 96%;
    border-radius: 6px;
    transition: 0.5s ease;
    font-size: xx-large;
    padding: 2%;
    transform: translateX(-100%);
    transition: ease-in-out 1s;
}

#navbar .rowDiv a:link,
#navbar .rowDiv a:visited {
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-decoration: none;
}

#navbar .rowDiv a:hover {
    color: rgba(225, 225, 225, 1);
    text-decoration: none;
}

#navbar .rowDiv a:active {
    color: rgb(0, 255, 63);
    text-decoration: none;
}



#menuBtn {
    display: block;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 0;
    margin: 9px;
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    border: rgb(137, 159, 196) 1px solid;
    background: linear-gradient(to bottom, rgb(73, 88, 114), rgb(46, 59, 80));
    /* background-color: red; */
    border-radius: 12px;
    padding: 0;
    z-index: 10;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#menuBtn:active {
    color: coral;
    background: linear-gradient(to top, rgb(73, 88, 114), rgb(46, 59, 80));
    border-color: coral;
}

#menuBtn h2 {
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}